/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "bootstrap_and_overrides.css.scss";
@import "home.css.scss";
@import "lessons.css.scss";
@import "sessions.css.scss";
@import "users.css.scss";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans serif;
    color: gray;
}
div#page {
    margin:0 auto;
    width: 1150px;
}

header {
    border-bottom: 2px solid gray;
    margin-bottom:70px;
}

header h1 {
    /* background: url('techbridgelogo.png') no-repeat ; */
    /* text-indent: -9999px; */
    /* height: 100px; */
    float:left;
}

div#auth {
  margin-top: 10px;
  float: right;
}

div#auth .field, div#auth a, div#auth form, div#auth p{
  float: left;
    float: left;
}
.field label {
  display:block; 
}

div#auth .field {
  margin-right: 8px;
}

div#auth input[type="submit"], div#auth a, div#auth p {
  margin-top: 25px;
}

nav#main-navigation {
  float: left;
}

nav ul {
    margin-top:88px;
    float: right;
    list-style-type:none;
}
nav ul li{
    float: left;
    margin-left: 15px;
}
nav ul li a {
    text-decoration: none;
}


div#page > footer {
  margin-top: 100px;
}
/*Ricardo Added this for Flash[:notice]*/
#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}


