// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul#lessons {
  
  list-style-type: none;
  margin: 15px 0 0 0;

  li {
    float: left;
    

    img {
      width: 200px;
    }
  }
}

nav#admin-panel {
}

div#page > footer {
  clear: both;
} 

